registry=https://pkgs.dev.azure.com/lolilabsza/_packaging/lolilabsza/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/lolilabsza/_packaging/lolilabsza/npm/registry/:username=lolilabsza
//pkgs.dev.azure.com/lolilabsza/_packaging/lolilabsza/npm/registry/:_password=cmdraTdrM2Uybmx1d3lucTdxbHBudDdjaGpzcmp2eXltNmdzN3R2M25oZ3lubm91bGdtcQ==
//pkgs.dev.azure.com/lolilabsza/_packaging/lolilabsza/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/lolilabsza/_packaging/lolilabsza/npm/:username=lolilabsza
//pkgs.dev.azure.com/lolilabsza/_packaging/lolilabsza/npm/:_password=cmdraTdrM2Uybmx1d3lucTdxbHBudDdjaGpzcmp2eXltNmdzN3R2M25oZ3lubm91bGdtcQ==
//pkgs.dev.azure.com/lolilabsza/_packaging/lolilabsza/npm/:email=npm requires email to be set but doesn't use the value
; end auth token